body {
	height: 3000px;
	width: 100%;
	margin: 0;
	background-color: #696969;
}

.div-container {
	margin: 0;
}

header {
	margin: 0;
	height: 100px;
	text-align: center;
	width: 100%;
	background-color: #0d1116;
}

header h2 {
	top: 10px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 40px;
}

